<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<session-config>
		<session-timeout>5</session-timeout>
	</session-config>
	<servlet>
		<servlet-name>Acceuil</servlet-name>
		<servlet-class>com.dlala.servlets.Acceuil</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Acceuil</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListeAnnonces</servlet-name>
		<servlet-class>com.dlala.servlets.ListeAnnonces</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListeAnnonces</servlet-name>
		<url-pattern>/annonces</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Connexion</servlet-name>
		<servlet-class>com.dlala.servlets.Connexion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Connexion</servlet-name>
		<url-pattern>/connexion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeposerAnnonce</servlet-name>
		<servlet-class>com.dlala.servlets.DeposerAnnonce</servlet-class>
		<init-param>
			<param-name>chemin</param-name>
			<param-value>/fichiers/</param-value>
		</init-param>
		<multipart-config>
			<location>/tmp</location>
			<max-file-size>20848820</max-file-size>
			<max-request-size>418018841</max-request-size>
			<file-size-threshold>1048576</file-size-threshold>
		</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeposerAnnonce</servlet-name>
		<url-pattern>/deposerannonce</url-pattern>
	</servlet-mapping>
	<context-param>
		<description>Location to store uploaded file</description>
		<param-name>file-upload</param-name>
		<param-value>/Users/a/Desktop/Temps</param-value>
	</context-param>
	<filter>
		<filter-name>requestFilter</filter-name>
		<filter-class>com.dlala.filter.RequestFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>requestFilter</filter-name>
		<url-pattern>/VVV</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>Deconnexion</servlet-name>
		<servlet-class>com.dlala.servlets.Deconnexion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Deconnexion</servlet-name>
		<url-pattern>/deconnexion</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DetailAnnonce</servlet-name>
		<servlet-class>com.dlala.servlets.DetailAnnonce</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DetailAnnonce</servlet-name>
		<url-pattern>/annonce</url-pattern>
	</servlet-mapping>
</web-app>